<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon"> -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

		<title>Harrison Shelnutt</title>
	</head>

	<body>
		<!-- Nav Bar -->
		<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<a class="navbar-brand">Harrison</a>
		</nav> -->


		<div class="jumbotron">
			<div class="container">
				<h1 class="display-3">Welcome!</h1>
				<p class="lead">My name is Harrison Shelnutt.<br>I am a 21 year old programmer and photographer. I enjoy making things and watching my creations come to life.</p>
				<a href="/resume.pdf" target="_blank" role="button" class="btn btn-primary">View my Resume &raquo;</a>
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-5">
					<h2 class="display-5">Programming</h2>
					<p>Programming is my favorite hobby and my most passionate one. I've worked on many projects, most of which are open-source. I try to challenge myself to use a variety of different languages, frameworks, tools, etc to keep expanding my knowledge.</p>
					<a href="https://github.com/jhshelnu" target="_blank" role="button" class="btn btn-outline-primary">My GitHub &raquo;</a>
				</div>

				<div class="col-md-5">
					<h2 class="display-5">Photography</h2>
					<p>I've been practicing my photography for about 4 years now. I typically do landscape photography, with some explorations into portraiture and street photography. This is my excuse to step away from my laptop, get some fresh air, and clear my head.</p>
					<a href="https://photosbyharrison.com" target="_blank" class="btn btn-outline-primary">My Photo Blog &raquo;</a>
				</div>
			</div>
		</div>








	</body>

</html>