<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

		<title>Harrison</title>
	</head>

	<body>
		<!-- Nav Bar -->
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
			<a class="navbar-brand">Harrison</a>
			<ul class="navbar-nav">
			    <li class="nav-item">
			    	<a class="nav-link" href="https://github.com/jhshelnu">Github</a>
			    </li>
			    <li class="nav-item">
			    	<a class="nav-link" href="#">Link 2</a>
			    </li>
			    <li class="nav-item">
			    	<a class="nav-link" href="#">Link 3</a>
			    </li>
			</ul>
		</nav>
	</body>

</html>